pl_azets_stage_table_country.json
{
    "name": "pl_azets_stage_table_country",
    "properties": {
        "activities": [
            {
                "name": "filter for country",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "get list of files in Azets source",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('get list of files in Azets source').output.childItems",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@and(equals(item().type,'File'),startswith(item().name,concat(pipeline().parameters.filename_prefix,'_',pipeline().parameters.country)))",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "loop through files and set maxTimestamp",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "filter for country",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "init maxTimestamp",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('filter for country').output.Value",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Update maxTimestamp",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Update currentTimestamp",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@greater(variables('currentTimestamp'),variables('maxTimestamp'))",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "set maxTimestamp",
                                        "type": "SetVariable",
                                        "dependsOn": [],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "maxTimestamp",
                                            "value": {
                                                "value": "@variables('currentTimestamp')",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "name": "Update currentTimestamp",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "currentTimestamp",
                                "value": {
                                    "value": "@first(split(last(split(item().name,'_')),'.'))",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "init maxTimestamp",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "init currentTimestamp",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "maxTimestamp",
                    "value": "20000101-0000"
                }
            },
            {
                "name": "get list of files in Azets source",
                "type": "GetMetadata",
                "dependsOn": [
                    {
                        "activity": "Truncate stage table",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_csv_sftp_azets_source",
                        "type": "DatasetReference",
                        "parameters": {
                            "folder_name": {
                                "value": "@pipeline().parameters.folderpath_source",
                                "type": "Expression"
                            },
                            "file_name": "*",
                            "Username": {
                                "value": "@pipeline().parameters.ftp_username",
                                "type": "Expression"
                            },
                            "SecretName": {
                                "value": "@pipeline().parameters.ftp_secret_name",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "SftpReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false,
                        "disableChunking": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "pl_azets_stage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "loop through files and set maxTimestamp",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "pl_azets_stage",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "file_source": {
                            "value": "@{pipeline().parameters.filename_prefix}_@{pipeline().parameters.country}_@{variables('maxTimestamp')}.csv",
                            "type": "Expression"
                        },
                        "file_stage": {
                            "value": "@{pipeline().parameters.filename_prefix}_@{pipeline().parameters.country}_@{variables('maxTimestamp')}.parquet",
                            "type": "Expression"
                        },
                        "folder_source": {
                            "value": "@pipeline().parameters.folderpath_source",
                            "type": "Expression"
                        },
                        "table_destination": {
                            "value": "@pipeline().parameters.table_name_destination",
                            "type": "Expression"
                        },
                        "folder_destination": {
                            "value": "@pipeline().parameters.folderpath_destination",
                            "type": "Expression"
                        },
                        "folder_logging_deletedfiles": "synapse/logging ",
                        "schema_destination": {
                            "value": "@pipeline().parameters.schema_destination",
                            "type": "Expression"
                        },
                        "ftp_username": {
                            "value": "@pipeline().parameters.ftp_username",
                            "type": "Expression"
                        },
                        "ftp_secret_name": {
                            "value": "@pipeline().parameters.ftp_secret_name",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "init currentTimestamp",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Truncate stage table",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "currentTimestamp",
                    "value": "20000101-0000"
                }
            },
            {
                "name": "Truncate stage table",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 120,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource",
                        "sqlReaderQuery": {
                            "value": "IF\nobject_id('@{pipeline().parameters.schema_destination}.@{pipeline().parameters.table_name_destination}') \nIS NOT NULL\nEXEC('TRUNCATE TABLE @{pipeline().parameters.schema_destination}.@{pipeline().parameters.table_name_destination}')\n\nSELECT 0",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "ds_dwh_temptable_RH",
                        "type": "DatasetReference",
                        "parameters": {
                            "ds_table_name": {
                                "value": "@pipeline().parameters.table_name_destination",
                                "type": "Expression"
                            },
                            "ds_schema_name": {
                                "value": "@pipeline().parameters.schema_destination",
                                "type": "Expression"
                            }
                        }
                    }
                }
            }
        ],
        "parameters": {
            "folderpath_destination": {
                "type": "string",
                "defaultValue": "staging/recurring/ftp_azets/CostCenter"
            },
            "schema_destination": {
                "type": "string",
                "defaultValue": "stage"
            },
            "table_name_destination": {
                "type": "string",
                "defaultValue": "Azets_CostCenterNO"
            },
            "folderpath_source": {
                "type": "string",
                "defaultValue": "CostCenter"
            },
            "filename_prefix": {
                "type": "string",
                "defaultValue": "CostCenter_BK"
            },
            "country": {
                "type": "string",
                "defaultValue": "NO"
            },
            "ftp_username": {
                "type": "string",
                "defaultValue": "59075960"
            },
            "ftp_secret_name": {
                "type": "string",
                "defaultValue": "AzetsFTP-Password"
            }
        },
        "variables": {
            "maxTimestamp": {
                "type": "String"
            },
            "currentTimestamp": {
                "type": "String"
            }
        },
        "folder": {
            "name": "Staging/Azets"
        },
        "annotations": [],
        "lastPublishTime": "2024-07-01T17:17:03Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}