pl_azets_sqlpool_dimaccount.json
{
    "name": "pl_azets_sqlpool_dimaccount",
    "properties": {
        "activities": [
            {
                "name": "Stage Account NO",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Get username to SFTP",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "pl_azets_stage_table_country",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "folderpath_destination": {
                            "value": "@pipeline().parameters.folderpath_destination",
                            "type": "Expression"
                        },
                        "schema_destination": {
                            "value": "@pipeline().parameters.schema_destination",
                            "type": "Expression"
                        },
                        "table_name_destination": "Azets_AccountNO",
                        "folderpath_source": {
                            "value": "@pipeline().parameters.folderpath_source",
                            "type": "Expression"
                        },
                        "filename_prefix": {
                            "value": "@pipeline().parameters.filename_prefix",
                            "type": "Expression"
                        },
                        "country": "NO",
                        "ftp_username": {
                            "value": "@activity('Get username to SFTP').output.value",
                            "type": "Expression"
                        },
                        "ftp_secret_name": "AzetsFTP-Password"
                    }
                }
            },
            {
                "name": "Get username to SFTP",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "GET",
                    "url": {
                        "value": "https://kv-biqsr-@{pipeline().parameters.Environment}.vault.azure.net/secrets/AzetsFTP-username?api-version=7.0\n\n",
                        "type": "Expression"
                    },
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://vault.azure.net"
                    }
                }
            },
            {
                "name": "Stage Account SE",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Get username to SFTP",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "pl_azets_stage_table_country",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "folderpath_destination": {
                            "value": "@pipeline().parameters.folderpath_destination",
                            "type": "Expression"
                        },
                        "schema_destination": {
                            "value": "@pipeline().parameters.schema_destination",
                            "type": "Expression"
                        },
                        "table_name_destination": "Azets_AccountSE",
                        "folderpath_source": {
                            "value": "@pipeline().parameters.folderpath_source",
                            "type": "Expression"
                        },
                        "filename_prefix": {
                            "value": "@pipeline().parameters.filename_prefix",
                            "type": "Expression"
                        },
                        "country": "SE",
                        "ftp_username": {
                            "value": "@activity('Get username to SFTP').output.value",
                            "type": "Expression"
                        },
                        "ftp_secret_name": "AzetsFTP-Password"
                    }
                }
            },
            {
                "name": "Get username to SFTP DK",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "GET",
                    "url": {
                        "value": "https://kv-biqsr-@{pipeline().parameters.Environment}.vault.azure.net/secrets/AzetsFTPDK-username?api-version=7.0\n\n",
                        "type": "Expression"
                    },
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://vault.azure.net"
                    }
                }
            },
            {
                "name": "Stage Account DK",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Get username to SFTP DK",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "pl_azets_stage_table_country",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "folderpath_destination": {
                            "value": "@pipeline().parameters.folderpath_destination",
                            "type": "Expression"
                        },
                        "schema_destination": {
                            "value": "@pipeline().parameters.schema_destination",
                            "type": "Expression"
                        },
                        "table_name_destination": "Azets_AccountDK",
                        "folderpath_source": {
                            "value": "SharedFolder/@{pipeline().parameters.folderpath_source}",
                            "type": "Expression"
                        },
                        "filename_prefix": {
                            "value": "@pipeline().parameters.filename_prefix",
                            "type": "Expression"
                        },
                        "country": "DK",
                        "ftp_username": {
                            "value": "@activity('Get username to SFTP DK').output.value",
                            "type": "Expression"
                        },
                        "ftp_secret_name": "AzetsFTPDK-Password"
                    }
                }
            }
        ],
        "parameters": {
            "folderpath_destination": {
                "type": "string",
                "defaultValue": "staging/recurring/ftp_azets/Account"
            },
            "schema_destination": {
                "type": "string",
                "defaultValue": "stage"
            },
            "folderpath_source": {
                "type": "string",
                "defaultValue": "Account"
            },
            "filename_prefix": {
                "type": "string",
                "defaultValue": "Account_BK"
            },
            "Environment": {
                "type": "string",
                "defaultValue": "dev"
            }
        },
        "variables": {
            "maxDateSE": {
                "type": "String"
            },
            "maxDateNO": {
                "type": "String"
            },
            "maxDateDK": {
                "type": "String"
            }
        },
        "folder": {
            "name": "Staging/Azets/DELETE"
        },
        "annotations": [],
        "lastPublishTime": "2024-07-01T17:18:55Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}